@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

HTML {
  direction: rtl;
}
section {
  background: url(assets/image.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

section .container {
  width: 650px;
  background: #332a224e;
  padding: 30px 25px;
  backdrop-filter: blur(10px);
  border: 1px solid #d7d7d74e;
  border-radius: 10px;
  margin-right: 15%;
  zoom: 0.8;
}

section .top_sec {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #d7d7d74e;
}

section .top_sec select {
  width: 250px;
  border-radius: 5px;
  outline: none;
  background: #33457f;
  padding: 2px 10px;
  color: #fff;
  font-size: 22px;
  margin-top: 10px;
}

section .top_sec h3 {
  font-size: 26px;
  color: #fff;
}
section .top_sec .date {
  width: 250px;
}

section .top_sec .date h4 {
  font-size: 26px;
  color: #fff;
}

section .prayer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  background: #33457f;
  margin-bottom: 25px;
  color: #fff;
  font-size: 24px;
}
